/* main header */
.main-header{
    border-bottom:1px solid #1F2071!important;
   width: 100%;
   padding: 0px;
   margin: 0px;
    font-size: 24px;
    height: 78px;
    line-height: 36px;
}
.main-header .content{
    width: 100%;
    padding-right: 40px;
}
.main-header .nav-item a{
    color: #1F2071!important;
}
@media screen and (max-width:600px){
    .main-header .nav-item a{
        font-size: 18px;
        
    }
   
}