  <!-- Navbar -->
  <div class="main-header">
    <div class="content">
    <nav class=" navbar navbar-expand navbar-white navbar-light">
   
      <ul class="navbar-nav ms-auto">
  
        
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
           Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          message
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          notification
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          Language
          </a>
        </li>
      </ul>
   
    </nav>
   
  </div>
  </div>
 <!-- /.navbar -->