
<app-title [title]="'Category'" class="mt-2"></app-title>
<div class="row mt-5 ">
    <div class="col-sm-12 col-lg-8 mb-2">
<input type="text" class="form-control" [(ngModel)]="search_text" placeholder="Search by name">

    </div>
    <div class="col-sm-2 col-lg-3 ">
        <div class="btn btn-create" routerLink="/Create">Create</div>
    </div>
</div>
 <table class="table table-hover w-100">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Desc</th>
        <th>Statues</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Categories |searchbyname:search_text" >
        <td>{{item.id}}</td>
        <td [routerLink]="['/Category',item.id]" class="cursor">{{item.name}}</td>
        <td><img [src]="'http://foodsystem.tryasp.net'+item.image" width="150px" *ngIf="item.image!=null"/></td>
        <td>{{item.description}}</td>
        <td>{{item.isDelete}}</td>
        <td><div class="btn btn-update mb-1" (click)="UpdateItem(item.id,item)" >Update</div><div class="btn btn-danger ms-3" (click)="DeleteItem(item.id)">Delete</div></td>
      </tr>
    
    </tbody>
  </table> 