<aside class="main-sidebar">
    <!-- Brand Logo -->
    <a href="" class="d-block logo">
 
      <span class=" font-weight-light  ">LOGO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
     
      <ul class="sidebar-items">
      
       <li>
        <a  class="d-block" routerLink="Category" routerLinkActive="active"><i class="fa-solid fa-layer-group"></i><span class="ms-3">Category</span> </a>
       </li>
       <li>
        <a  class="d-block"routerLink="Product" routerLinkActive="active"><i class="fa-solid fa-folder"></i><span class="ms-3">Product</span></a>
       </li>
       <li>
        <a class="d-block" routerLink="Order" routerLinkActive="active"><i class="fa-brands fa-first-order"></i> <span class="ms-3">Order</span></a>
       </li>
       <li>
        <a  class="d-block" routerLink="User" routerLinkActive="active"><i class="fa-regular fa-user"></i><span class="ms-3">User</span></a>
       </li>
        
       
      </ul>

    </div>
    <!-- /.sidebar -->
</aside>

