*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 24px;
}
ul{
    list-style: none;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white !important;;
}

 

.contentaftershowsidebar{
 margin-top: 20px;
    margin-left: 300px;
}

@media screen and (max-width:1200px){
    *{
        font-size: 18px;
    }
     .contentaftershowsidebar{
       
  margin-left: 190px;
    }
}